@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Cardo&family=Cinzel&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Freehand&family=Merriweather+Sans:ital,wght@1,300&family=Quicksand:wght@300&family=Raleway&display=swap');


body {
    border: 5px solid #D2DE32;
    margin: 10px 30px;
    padding: 5px;
    font-size: xx-large;
}

.fully-main{
    display: flex;
    
     /* display: none; */

}
.main1{
    width:20%;
    display: none;
    
}
.main1_mob {
    display: none;
}


.STD {
    font-family: 'Cormorant Garamond', serif;

}

.main2 {
    /* display: flex; */
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: beige;
    width:100%;
    
}
.main2_new {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: beige;
    width:100%;
    
}
.main2_new_mob {
    display: none;
}

.cordially {
    font-family: 'Calligraffitti', cursive;
}
.names {
    display: inline-flex;
    gap: 20px;
    margin: 20px 0px;
}

.name1, .name2, .and{
    padding-bottom: 0px;
    width: 200px;
    text-align: center;
    
}

.fname {
    font-family: 'Cormorant Garamond', serif;
}

.lname {
    font-family: 'Freehand', cursive;
    color: rgb(67, 193, 197);   

}

.and {
    font-family: 'Quicksand', sans-serif;
    font-size:80px;
    color: rgb(61, 154, 157);   
}
.date-time {
    display: flex;
    gap: 50px;
    /* justify-items: center; */
    align-items: center;
    font-family: 'Cardo', serif;
    color: rgba(0, 0, 0, 0.552);
    margin: 20px 0px;

}
.day, .time{
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Quicksand', sans-serif; */

    border-top: 3px dotted rgb(193, 143, 42);
    border-bottom: 3px dotted rgb(193, 143, 42);

}


.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Quicksand', sans-serif; */

}

.particular-day {
    font-size: 50px;
    color: rgba(99, 82, 22, 0.642);
}

.address {
    text-align: center;
font-family: 'Cormorant Garamond', serif;
    color: rgba(0, 0, 0, 0.803);
    font-weight: 50;
    font-size: smaller;
}

.flowers{
    image-rendering: crisp-edges;
    height: 100%;
    object-fit: cover;
    width: 100%;
    
}


/* .wish-one {
    background-color: white;
    font-family: 'Freehand', cursive;
    margin: 5px 50px;
} */
.icon {
    width:20px;
    height: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    /* background-color: #f9f9f9; */

    /* background-color: #e7e6db;  */
    background-color: #9EB384;
    border-radius: 5px;
    
    font-size: 18px; /* Slightly smaller font size */
    line-height: 1.6; /* Increased line height for readability */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); /* Light drop shadow */
}

.comment-container {
    margin: 10px;
    /* font-family: Arial, sans-serif; Recommended font family */
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Dancing Script', cursive;
}

.card {
    margin-top: 10px;
}

.card-title {
    /* font-family: 'Merriweather Sans', sans-serif;
     */
     font-family: 'Cinzel', serif;
}

.thankyou {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: green;
}
.wish-box {
    width: 60% !important;
}

@media (max-width: 600px) {

.fully-main {
    display: flex;
    flex-direction: column;
}
.main1 {
    display: none;
    /* transform: rotate(90deg); Rotate the div by 45 degrees */
}
.main1_mob {
    display: none;
    /* display: inline; */
    height: 70px;
}
.main2 {
    padding-top: 20px;
    text-align: center;
}
.main2_new {
    display: none;
    /* display: inline; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: beige;
    width:100%;
    
}
.main2_new_mob {
    display: inline;
}
.names {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    gap: 2px;
    font-size: x-large;
}

.names p {
    margin-bottom: 5px;
}
.and {
    font-size: larger;
    margin: 0px ;
    padding: 0px 0px;
}
.date-time {
    display: block;
    /* flex-direction:column; */
}

#input {
    width: 100% !important;
    border-radius: 5px;
}

#numberInput {
    width: 100% !important;
}
body {
    font-size: larger;
}
.cordially p {
    margin-bottom: 0px;
}

.address {
    font-size: larger;
}
#writeToFile, #numberInput, #wisher {
    border-radius: 5px;
}

}